<!-- ------------------dhammaland------------------------ -->



<div  class="main" style="background-image:url(assets/img/banner-0101.jpg); ">
    <div class="container">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="dh">
                <div class="typewriter">
                    <h1 class="typewriter" style="color: white;font-family: 'Poppins', sans-serif;"> Dhamma<span
                            style="color:#50C878; font-family: 'Montserrat', sans-serif; ">Land</span></h1>

                </div>
                <hr>


                <p class="para"
                    style="color: white; font-family: 'Montserrat', sans-serif; font-size:large; text-align: center;">
                    <b> <img src="assets/img/arr.png" style="width: 30px; " alt=""> Dhammaland’s purpose is to spread
                        the teaching of Sammasambuddha and humankind to come out of sufferings. 

                        Dhammaland is a concept of the Bodhisatta (or Bodhisattva), who liberates other fellow beings
                        before liberating oneself. 

                        This is a knowledge offering center to dwell in the Dhammaland and make the world the land of
                        Dhamma (Doctrine).

                        Dhammaland’s purpose is to spread bodhi so that people who can realize and understand it, and
                        dwell in inner-bodhi.

                        Let’s one cultivate one’s mind and heart, and develop one’s inner-bodhi.
                        <br>

                         <br>



                        <img src="assets/img/arr.png" style="width: 30px; " alt=""> Our Mission is to teach the
                        doctrines of the sammasambuddha to Buddhist peoples of India, and all human beings of the world.

                        This is another our Mission of our college that to provide tertiary education in Buddhist
                        Studies leading to award Diploma, Bachelor Degrees, Master Degrees of the Buddhist & Pali
                        University of Sri Lanka, and Research Studies.

                    </b></p>




            </div>
        </div>
        <div class="col-1"></div>
    </div>
</div>






<!-- <section>
    
<div class="ia-container">
				
	<figure>
		<img src="assets/img/yoga1.jpg" alt="image01" />
		<input type="radio" name="radio-set" checked="checked" />
		<figcaption><span>True Colors</span></figcaption>
		
		<figure>
			<img src="assets/img/yoga2.jpg" alt="image02" />
			<input type="radio" name="radio-set" />
			<figcaption><span>Honest Light</span></figcaption>
			
			<figure>
                <img src="assets/img/yoga3.jpg" alt="image02" />
                <input type="radio" name="radio-set" />
                <figcaption><span>Honest Light</span></figcaption>
				
				<figure>
                    <img src="assets/img/yoga4.jpg" alt="image02" />
                    <input type="radio" name="radio-set" />
                    <figcaption><span>Honest Light</span></figcaption>
					
					<figure>
                        <img src="assets/img/yoga5.jpg" alt="image02" />
                        <input type="radio" name="radio-set" />
                        <figcaption><span>Honest Light</span></figcaption>
						
						<figure>
                            <img src="assets/img/yoga6.jpg" alt="image02" />
                            <input type="radio" name="radio-set" />
                            <figcaption><span>Honest Light</span></figcaption>
				
							<figure>
                                <img src="assets/img/7.jpg" alt="image02" />
                                <input type="radio" name="radio-set" />
                                <figcaption><span>Honest Light</span></figcaption>										

								<figure>
                                    <img src="assets/img/8.jpg" alt="image02" />
                                    <input type="radio" name="radio-set" />
                                    <figcaption><span>Honest Light</span></figcaption>
								</figure>
								
							</figure>
				
						</figure>	
							
					</figure>	
						
				</figure>
					
			</figure>
			
		</figure>
		
	</figure>
	
</div>
</section> -->

<!----------course------>
<br><br>
<div>
    <div class="container">
        <h1 style="font-family: 'Poppins', sans-serif;"> <img src="assets/img/r.png" alt=""> What do we offer ?</h1>
        <hr>
    </div>
</div>

<div class="timeline">



    <div class="container1 left-container">
        <img class="im" src="assets/img/1.png" alt="" style="right: -20px;">
        <div class="text-box">
            <h2>
                <img src="assets/img/arrow.png" alt="">
                Free Course
            </h2>
            <p> <b>There are plenty of courses of <span style="color: #fff;">DhammaLand</span> available here which you
                    can get for absolutely free. </b> </p>
            <a href="contact.html" class="hero-btn4">Know more !</a>
            <span class="left-container-arrow"></span>
        </div>
    </div>

    <div class="container1 right-container">
        <img class="im" src="assets/img/2.png" alt="">
        <div class="text-box">
            <h2>
                <img src="assets/img/arrow.png" alt="">
                Paid Course
            </h2>
            <p> <b>There are a veriety of <span style="color: #fff ;">professional course</span> which can be enrolled
                    as per ones need , these course are paid courses and are long term courses with certification.</b>
            </p>
            <a href="contact.html" class="hero-btn4">Know more !</a>
            <span class="right-container-arrow"></span>
        </div>
    </div>

    <div class="container1 left-container">
        <img class="im" src="assets/img/3.png" alt="">
        <div class="text-box">
            <h2>
                <img src="assets/img/arrow.png" alt="">
                Live Lectures
            </h2>
            <p> <b>Our <span style="color: #fff; ">Dhammamaster (Dr. Venerble Sheelratna Bodhi)</span> takes live video
                    lectures for the students , which any of the registered student can join.</b> </p>
            <a href="contact.html" class="hero-btn4">Know more !</a>
            <span class="left-container-arrow"></span>
        </div>
    </div>

    <div class="container1 right-container">
        <img class="im" src="assets/img/4.png" alt="">
        <div class="text-box">
            <h2>
                <img src="assets/img/arrow.png" alt="">
                Booklets
            </h2>
            <p> <b>There are multiple booklets published by <span style="color: #fff;">DhammaLand </span> which can you
                    can get here. </b> </p>
            <a href="contact.html" class="hero-btn4">Know more !</a>
            <span class="right-container-arrow"></span>
        </div>
    </div>


</div>



<!---------Tutors----------->

<div class="main3"
    style="background-image:linear-gradient(rgba(0 , 0 ,0 , 0.7),rgba(0,0,0,0.7)),url(assets/img/plants.jpg); ">
    <div class="container">
        <div class="row">



            <section class="tutors">
                <h1 style="font-family: 'Poppins', sans-serif;"> <img src="assets/img/teacher.png" alt=""> Our tutors
                </h1>
                <hr>
                <p style="color: white;"></p>

                <div class="row">
                    <div class="tutor-col">
                        <img src="assets/img/sir3.jpeg" style="width: 335px;">

                        <div class="layer">

                            <h2 style="font-family: poppins;"> " Dhammamaster (Dr. Venerble Sheelratna Bodhi) " </h2>
                        </div>
                    </div>
                    <!-- 
    <div class="content-slider tutor-col">
        <div class="slider">
          <div class="mask">
            <ul>
              <li class="anim1">
                <div class="quote"><i class="fa fa-snowflake-o" aria-hidden="true" style="color: aquamarine;"></i>   Dhammamaster (Dr. Venerble Sheelratna Bodhi) <br> is the Founder President of Dhammaland <br> (Dhammaland Charitable Trust). <br>
                    He is a well known Indian Buddhist monk.</div>
                <div class="source">- Person</div>
              </li>
              <li class="anim2">
                <div class="quote"><i class="fa fa-snowflake-o" aria-hidden="true" style="color: aquamarine;"></i>   He had completed his B.A. from Buddhist <br> and Pali University of Sri Lanka <br> and M.A. in Buddhist Psychotherapy <br> from Postgraduate Institute <br> of Kelaniya University, Sri Lanka. <br>
                    He has done Doctorate Degree <br> (PHD) in Meditation.</div>
                <div class="source">- Another person</div>
              </li>
              <li class="anim3">
                <div class="quote"><i class="fa fa-snowflake-o" aria-hidden="true" style="color: aquamarine;"></i>  He had learned Buddhist meditation, <br> Buddhist Philosophy, Pali, Abhidhamma <br> at Buddhist Studies International <br> and got six years <br> special Bhikkhu training <br> under the guidance of <br> late Most Venerable <br> Dr. Havanpola Rathanasara Mahanayakathera, <br> Sangha Nayak of western world.</div>
                <div class="source">- Animal</div>
              </li>
           
            </ul>
          </div>
        </div>
      </div> -->
                    <div class="content-slider tutor-col">
                        <div class="slider">
                            <div class="mask">
                                <ul>
                                    <li class="anim1">
                                        <div class="quote"> <img src="assets/img/arr.png" style="width: 30px; " alt="">
                                            Dhammamaster (Dr. Venerble Sheelratna Bodhi) <br> is the Founder President
                                            of Dhammaland <br> (Dhammaland Charitable Trust). <br>
                                            He is a well known Indian Buddhist monk.</div>
                                    </li>
                                    <li class="anim2">
                                        <div class="quote"><img src="assets/img/arr.png" style="width: 30px; " alt="">
                                            He had completed his B.A. from Buddhist <br> and Pali University of Sri
                                            Lanka <br> and M.A. in Buddhist Psychotherapy <br> from Postgraduate
                                            Institute <br> of Kelaniya University, Sri Lanka. <br>
                                            He has done Doctorate Degree <br> (PHD) in Meditation.</div>
                                    </li>
                                    <li class="anim3">
                                        <div class="quote"><img src="assets/img/arr.png" style="width: 30px; " alt="">
                                            He had learned Buddhist meditation, <br> Buddhist Philosophy, Pali,
                                            Abhidhamma <br> at Buddhist Studies International <br> and got six years
                                            <br> special Bhikkhu training <br> under the guidance of <br> late Most
                                            Venerable <br> Dr. Havanpola Rathanasara Mahanayakathera, <br> Sangha Nayak
                                            of western world.</div>
                                    </li>
                                    <li class="anim4">
                                        <div class="quote"><img src="assets/img/arr.png" style="width: 30px; " alt="">
                                            Dhammamaster (Dr. Venerble Sheelratna Bodhi) <br> is the Founder President
                                            of Dhammaland <br> (Dhammaland Charitable Trust). <br>
                                            He is a well known Indian Buddhist monk.</div>
                                    </li>
                                    <li class="anim5">
                                        <div class="quote"><img src="assets/img/arr.png" style="width: 30px; " alt="">
                                            He had completed his B.A. from Buddhist <br> and Pali University of Sri
                                            Lanka <br> and M.A. in Buddhist Psychotherapy <br> from Postgraduate
                                            Institute <br> of Kelaniya University, Sri Lanka. <br>
                                            He has done Doctorate Degree <br> (PHD) in Meditation.</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- 
    <div class="tutor-col">
        <p style="color: white; font-size:large ;text-align: left;" >Dhammamaster (Dr. Venerble Sheelratna Bodhi) is the Founder President of Dhammaland (Dhammaland Charitable Trust).
            He is a well known Indian Buddhist monk.
            
            He had completed his B.A. from Buddhist and Pali University of Sri Lanka and M.A. in Buddhist Psychotherapy from Postgraduate Institute of Kelaniya University, Sri Lanka.
            He has done Doctorate Degree (PHD) in Meditation.
            
            He had learned Buddhist meditation, Buddhist Philosophy, Pali, Abhidhamma at Buddhist Studies International and got six years special Bhikkhu training under the guidance of late Most Venerable Dr. Havanpola Rathanasara Mahanayakathera, Sangha Nayak of western world.
            
            He had been awarded as Dhamma Duta Honor (DDH) Doctor of Dhamma, and (MDH) Master of Dhamma by Buddhist Studies International, Sri Lanka in year 2001.
    </div> -->


                </div>

            </section>


        </div>
    </div>
</div>


<!---------Testimonials------------->

<section class="Testimonials">
    <h1 style="font-family: 'Poppins', sans-serif;"> <img src="assets/img/stud.png" alt=""> What our students says</h1>
    <hr>
    <p style="font-size: large;">Feedbacks from our previous students about <span style="color: #50C878;">
            <b>Dhammaland.</b> </span> </p>

    <div class="row">
        <div class="testimonials-col">
            <img src="assets/img/user2.jpg" alt="">
            <div>
                <p class="c" style="font-size: larger;">Lorem Ipsum is simply dummy text of the printing and typesetting
                    industry. Lorem Ipsum has been the industry's standard dummy.</p>
                <h3>Samarth Pathak</h3>
                <hr>
                <img src="assets/img/star.png" alt="">
                <img src="assets/img/star.png" alt="">
                <img src="assets/img/star.png" alt="">
                <img src="assets/img/star.png" alt="">
                <img src="assets/img/half.png" alt="">


            </div>
        </div>

        <div class="testimonials-col">
            <img src="assets/img/user2.jpg" alt="">
            <div>
                <p class="c" style="font-size: larger;">Lorem Ipsum is simply dummy text of the printing and typesetting
                    industry. Lorem Ipsum has been the industry's standard dummy.</p>
                <h3>Samarth Pathak</h3>
                <hr>
                <img src="assets/img/star.png" alt="">
                <img src="assets/img/star.png" alt="">
                <img src="assets/img/star.png" alt="">
                <img src="assets/img/star.png" alt="">


            </div>
        </div>
    </div>

</section>


<!-- ------------------cta------------------ -->

<!-- 
<div class="main4">
    <div class="container cta2" style="background-image: linear-gradient(rgba(37, 36, 36, 0.7),rgba(0,0,0,0.7)),url(assets/img/banner3.jpg);">
        
        <div class="cta">
            <h1>
                <h2 style="font-size: large; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Know us , Start a conversation here !</h2>
                <a href="contact.html" class="hero-btn3">Contact Us</a>
            </h1>
        
            <br><br>
            
        </div>
    </div>
    
</div> -->






<!-- -----------contactform------------------------ -->

<div class="main4"
    style="background-image:linear-gradient(rgba(0 , 0 ,0 , 0.7),rgba(0,0,0,0.7)),url(assets/img/y.jpg);  ">
    <div class="container">


        <h1 style="font-family: 'Poppins', sans-serif;"> <img src="assets/img/contact.png" alt=""> Contact Us</h1>
        <hr>
        <div class="row">
            <div class="col">
            </div>
            <!-- ----------------------------------------------- -->
            <!-- this is contact form -->
            <div class="col form " >
                <form [formGroup]="contactUsForm" novalidate (ngSubmit)="onSubmit()" name="contactUsForm">
                    <input type="text" name="name" placeholder="Full Name" formControlName="name" required>
                    <input type="email" name="email" placeholder="Email" required formControlName="email">
                    <textarea name="messege" placeholder="Messege" required formControlName="message"></textarea>

                    <button type="submit" class="hero-btn5">Send</button>
                </form>
            </div>

            <div class="col"></div>
        </div>

    </div>
    <div class="row mb-5"></div>
    <app-footer class=""></app-footer>