<div class="container">
    <div class="row justify-content-md-center ">

  
    </div>
</div>


    <div class="container ">
        <div class="row justify-content-md-center mt-3">
          <div class="col-md-6">
          
            <mat-card class="text-center fs-4 bg-primary text-white">
              <div>
                <img src="../../../../assets/img/user.png" class="img-login" alt="">
                Student Login
              </div>
            </mat-card>
            <form [formGroup]="login" (ngSubmit)="onSubmit()">
                <div class="col mt-3 ">
           
                    <div class="mb-3 row">
                        <label for="staticEmail" class="col-sm-2 col-form-label fs-5">Email</label>
                        <div class="col-sm-10 input-group-lg">
                          <input type="text"  class="form-control" id="staticEmail" value="" formControlName="email">
                          <mat-error *ngIf="login.controls['email'].hasError('required')">
                            Email <strong>required</strong>
                          </mat-error>
                        </div>
                      </div>
                      <div class="mb-3 row">
                        <label for="inputPassword" class="col-sm-2 col-form-label fs-5">Password</label>
                        <div class="col-sm-10 input-group-lg">
                          <input type="password" class="form-control" id="inputPassword" formControlName="password">
                          <mat-error *ngIf="login.controls['password'].hasError('required')">
                            Password <strong>required</strong>
                          </mat-error>
                        </div>
                      </div>
                      <div class="d-grid gap-2 col-3 ">
                        <button mat-raised-button color="primary" class="fs-6" >Login</button>
                      </div>
                      
                </div>
            </form>
            <mat-card class="mt-4">New user
              <a  routerLink="/student-registration">Sign Up</a>
            </mat-card>
          </div>
         
        </div>
   
      </div>
