<div class="container">
    <mat-toolbar>
        <span>All Email</span>
      </mat-toolbar>
    <div class="row" *ngFor="let data of emailList">
        <div class="col">
                {{data.email}}
            <!-- <table class="table">
                <thead>
                  <tr>
                  
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
              
                </tbody>
              </table> -->
        </div>
    </div>
</div>
