<div class="container">
    <mat-card class="">
        <mat-card-title-group>
            
          <mat-card-title> Welcome<h1 class="text-danger">{{fName}} </h1></mat-card-title>
          <mat-card-subtitle> {{email}}</mat-card-subtitle><mat-icon>co_present</mat-icon>
          <!-- <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" > -->
        </mat-card-title-group>
        <mat-card-content>
        
        </mat-card-content>
      </mat-card>
      <!-- <div class="row">
        <div class="col">
          <mat-card class="mt-3" > 
            <mat-card-title>Free Course Assign    </mat-card-title>
            <mat-card-content class="mt-4" *ngFor="let data of freeCourseList">
             Your assigned is<span class="text-danger fs-3 p-3">{{data.courseName}}</span>   
               <button mat-raised-button color="primary">Delete</button>
            </mat-card-content>
          </mat-card>
          
        </div>
      </div> -->
      
       
     

</div>