
 



<div class="hsec" style="background: black; padding-top: 30px; padding-bottom: 30px;">


  



    <div class="container hcon " >
      <div class="row">
      
        <div class="col-10">       
           <h1 class="co" style="text-align: center; padding-top:20px; color: #fff; font-family: poppins; font-size: xx-large; padding-left: 198px; " >Courses</h1>
        </div>
        <div class="col-2" style="padding-top: 10px;" >
          <a href="contact.html" class="hero-btn4">Home</a>
        </div>
      </div>
    </div>
</div>


<!-- course section -->


<div class="main-container">
  <div class="heading">
    <h1 class="heading__title" style="color: black; font-family:poppins">Free Courses</h1>
   <hr>
  </div>
  <div class="cards">
    <div class="card card-1">
      <div class="card__icon">  </div>
      <p class="card__exit"></p>
      <h1 class="card__title" style="color: black; font-family:poppins"><img src="assets/img/11.png" alt=""> Basic Pali</h1>
      <p class="card__apply">
        <a class="card__link"  style="color: black; font-family:poppins" (click)="enrolledNow()" >Enroll Now <i class="fas fa-arrow-right"></i></a>
      </p>
    </div>
    <div class="card card-1">
      <div class="card__icon"></div>
      <p class="card__exit"></p>
      <h1 class="card__title" style="color: black; font-family:poppins"><img src="assets/img/22.png" alt=""> Pali speaking</h1>
      <p class="card__apply">
        <a class="card__link" style="color: black; font-family:poppins" (click)="enrolledNow1()">Enroll Now <i class="fas fa-arrow-right"></i></a>
      </p>
    </div>
    <div class="card card-1">
      <div class="card__icon"></div>
      <p class="card__exit"></p>
      <h1 class="card__title" style="color: black; font-family:poppins"><img src="assets/img/33.png" alt="">Buddhist Psychotherapy</h1>
      <p class="card__apply">
        <a class="card__link"  style="color: black; font-family:poppins" (click)="enrolledNow2()">Enroll Now <i class="fas fa-arrow-right"></i></a>
      </p>
    </div>
    <div class="card card-1">
      <div class="card__icon"></div>
      <p class="card__exit"></p>
      <h1 class="card__title" style="color: black; font-family:poppins"><img src="assets/img/44.png" alt="">Meditation (Mind-cultivation)</h1>
      <p class="card__apply">
        <a class="card__link"  style="color: black; font-family:poppins" (click)="enrolledNow3()">Enroll Now <i class="fas fa-arrow-right"></i></a>
      </p>
      
    </div>
    </div>
</div>


<div class="main-container">
  <div class="heading">
    <h1 class="heading__title" style="color: black; font-family:poppins">Paid Courses</h1>
    <hr>
  </div>
  <div class="cards">
    <div class="card card-3">
      <div class="card__icon"></div>
      <p class="card__exit"></p>
      <h1 class="card__title"style="color: black; font-family:poppins"><img src="assets/img/11.png" alt="">Diploma in Buddhism</h1>
      <p class="card__apply">
        <a class="card__link" href="#"style="color: black; font-family:poppins">Enroll Now <i class="fas fa-arrow-right"></i></a>
      </p>
    </div>
    <div class="card card-3">
      <div class="card__icon"></div>
      <p class="card__exit"></p>
      <h1 class="card__title"style="color: black; font-family:poppins"><img src="assets/img/22.png" alt=""> Bachelor Degree</h1>
      <p class="card__apply">
        <a class="card__link" href="#"style="color: black; font-family:poppins">Enroll Now <i class="fas fa-arrow-right"></i></a>
      </p>
    </div>
    <div class="card card-3">
      <div class="card__icon"></div>
      <p class="card__exit"></p>
      <h1 class="card__title"style="color: black; font-family:poppins"><img src="assets/img/33.png" alt=""> Master Degree</h1>
      <p class="card__apply">
        <a class="card__link" href="#"style="color: black; font-family:poppins">Enroll Now <i class="fas fa-arrow-right"></i></a>
      </p>
    </div>
    <div class="card card-3">
      <div class="card__icon"></div>
      <p class="card__exit"></p>
      <h1 class="card__title"style="color: black; font-family:poppins;"><img src="assets/img/44.png" alt="">Doctorate of Philosophy (Ph.D.)</h1>
      <p class="card__apply">
        <a class="card__link" href="#"style="color: black; font-family:poppins">Enroll Now <i class="fas fa-arrow-right"></i></a>
      </p>
    </div>
   </div>
   
   
</div>



<app-footer class=""></app-footer>





