a{
    color: #f6f6f6;
    font-weight:400;
    font-size: 15px;
}
a:hover{
    color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 5px;
}
li{
    margin: 5px;
}
.bg{
    background-color: rgb(4, 160, 129);
}