<nav class="navbar navbar-expand-lg bg">
  <div class="container-fluid"> 
     <a class="navbar-brand" href="#"><mat-icon> school </mat-icon> Dhamaland</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
       
      </ul>
  
      <ul class="nav justify-content-end navbar-expand-lg  ">

        <li class="nav-item">
      
            <a routerLink="index" class="nav-link active " aria-current="page" href="#"><mat-icon>home</mat-icon> Home</a>
      
      
        </li>
       
          <!-- <li class="nav-item">
            <a routerLink="admin-login" class="nav-link" href="#">Admin login</a>
          </li> -->
          <!-- <li class="nav-item">
            <a routerLink="student-registration" class="nav-link" href="#">Student Registration</a>
          </li> -->
          <!-- <li class="nav-item">
            <a routerLink="student-login" class="nav-link ">Login</a>
          </li> -->
          <!-- <li class="nav-item">
            <a routerLink="student-profile" class="nav-link ">Student Profile</a>
          </li> -->
          <li class="nav-item">
            <a routerLink="courses" class="nav-link "><mat-icon> local_library</mat-icon> Courses</a>
          </li>
          <!-- <li class="nav-item">
            <a routerLink="add-blog" class="nav-link ">Blog</a>
          </li> -->
          <li class="nav-item">
            <a routerLink="view-blog" class="nav-link "><mat-icon>ballot</mat-icon> Blog</a>
          </li>
          <li class="nav-item">
            <a routerLink="booklet" class="nav-link "><mat-icon>book</mat-icon> Booklets</a>
          </li>
          <!-- <li class="nav-item">
            <a routerLink="add-booklet" class="nav-link ">Add-Booklets</a>
          </li> -->
          <!-- <li class="nav-item">
            <a routerLink="" class="nav-link active" aria-current="page" href="#">Contact</a>
          </li> -->
          <li class="nav-item">
            <div class="btn-group dropstart">
              <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <mat-icon>person</mat-icon>
              </button>
              <ul class="dropdown-menu">
                <li class="nav-item">
                  <a routerLink="student-registration" class="nav-link text-dark " href="#">Student Registration</a>
                </li>
                <li> <a routerLink="student-login" class="nav-link text-dark ">Login</a></li>
                <li>  <a routerLink="admin-login" class="nav-link text-dark " href="#">Admin login</a></li>
              
              </ul>
            </div>
          
          </li>
      
      
         
      
        </ul> 
    </div>
  </div>
</nav>
 
 <!-- <ul class="nav justify-content-end navbar-expand-lg p-2 bg-light "> -->

  <!-- <li class="nav-item">

      <a routerLink="adminPanel" class="nav-link active " aria-current="page" href="#">Home</a>


  </li> -->
 
    <!-- <li class="nav-item">
      <a routerLink="admin-login" class="nav-link" href="#">Admin login</a>
    </li> -->
    <!-- <li class="nav-item">
      <a routerLink="student-registration" class="nav-link" href="#">Student Registration</a>
    </li> -->
    <!-- <li class="nav-item">
      <a routerLink="student-login" class="nav-link ">Login</a>
    </li> -->
    <!-- <li class="nav-item">
      <a routerLink="student-profile" class="nav-link ">Student Profile</a>
    </li> -->
    <!-- <li class="nav-item">
      <a routerLink="courses" class="nav-link ">Courses</a>
    </li> -->
    <!-- <li class="nav-item">
      <a routerLink="add-blog" class="nav-link ">Blog</a>
    </li> -->
    <!-- <li class="nav-item">
      <a routerLink="view-blog" class="nav-link "> Blog</a>
    </li>
    <li class="nav-item">
      <a routerLink="booklet" class="nav-link ">Booklets</a>
    </li> -->
    <!-- <li class="nav-item">
      <a routerLink="add-booklet" class="nav-link ">Add-Booklets</a>
    </li> -->
    <!-- <li class="nav-item">
      <a routerLink="adminPanel" class="nav-link active" aria-current="page" href="#">Contact</a>
    </li> -->
    <!-- <li class="nav-item">
      <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Login
        </button>
        <ul class="dropdown-menu">
          <li class="nav-item">
            <a routerLink="student-registration" class="nav-link" href="#">Student Registration</a>
          </li>
          <li> <a routerLink="student-login" class="nav-link ">Login</a></li>
          <li>  <a routerLink="admin-login" class="nav-link" href="#">Admin login</a></li>
        
        </ul>
      </div>
    
    </li>


   

  </ul>  -->

  <router-outlet></router-outlet>