<!-- Footer -->
<footer class="page-footer font-small blue pt-4" style="background: black;">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-4 mt-md-0 mt-3">
  
          <!-- Content -->
          <h4 class="text-uppercase" style="color: white; font-family:poppins; text-align:center;">About Us</h4>
          <p style="color: white; font-family:poppins; font-size: small; text-align: left;"> <br> 
            Dhammaland’s purpose is to spread the teaching of Sammasambuddha and humankind to come out of
            sufferings. 

           

            <br> <br>
          </p>  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-4 mb-md-0 mb-3 list-unstyled1">
  
            <!-- Links -->
          
              <br> <br>
            <div class="mb-5 flex-center">
  
              <!-- Facebook -->
              <a class="fb-ic" href="https://www.facebook.com/indobodhi">
                <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
              </a>
              <!-- Twitter -->
              <a class="tw-ic" href="https://twitter.com/dhammamaster">
                <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
              </a>
              
              <!--Linkedin -->
              <a class="li-ic" href="https://www.linkedin.com/in/dhammaland-india-6922ab1a1/">
                <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
              </a>
              <!--Instagram-->
              <a class="ins-ic" href="#">
                <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
              </a>
             
            </div>
            <hr>
    
          </div>
       
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-4 mb-md-0 mb-3">
  
            <!-- Links -->
            <h4 class="text-uppercase" style="color: white; font-family:poppins; text-align:center; font-family:poppins;">Address</h4>
    
            <ul class="list-unstyled">
              <li style="color: white; text-align: center; font-size: small; font-family:poppins;"> DHAMMALAND THE ROYAL MONASTIC SCHOOL, <br> Bir
                  Bira-Siripur, Grampanchayat- Bansakuda, Post-Jalki, <br> Tahasil & District- Mahasamund, Pin-493445,
                  Chhattisgarh.</li>
                  <li style="color: white; text-align: center; font-size: small; font-family:poppins;"> dhammalandindia@gmail.com</li>
  
                  <li style="color: white; text-align: center; font-size: small;font-family:poppins;">+ 91- 9340522897</li>
            </ul>
    
          </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style="color: #555; font-family:poppins">© 2022 Copyright:
      <a href="https://www.dhammaland.org">Dhammaland.org</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->